<div class="form-inline">
<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :meal %><br>
    <%= f.text_field :meal %>
  </div>
  <div class="form-group">
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="form-group">
    <br />
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
</div>